@model IEnumerable<Volunteers.Models.Projects.ProjectListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <div class="row">
        <div class="col-sm-4" style="background-color: #5133AB">
            <div class="tiles">
                <h2 class="title">@ViewBag.UsersCount</h2>
                <p>Participants</p>
            </div>
        </div>
        <div class="col-sm-4" style="background-color: #00A600">
            <div class="tiles">
                <h2 class="title">@ViewBag.ProjectsCount</h2>
                <p>Projects completed</p>
            </div>
        </div>
        <div class="col-sm-4" style="background-color: #DC572E">
            <div class="tiles">
                <h2 class="title">@ViewBag.TownsCount</h2>
                <p>Towns improved</p>
            </div>
        </div>
    </div>
</div>
    <br />
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Find projects in your area:</h1>
            <p class="lead">Volunteer in various projects to help make your community better!</p>
            <hr class="my-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right">
                    Order by: @ViewBag.ViewType
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Newest">Newest</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Oldest">Oldest</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Starting Soon">Starting Soon</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Most votes">Most votes</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 style="text-align:center">Latest 3 projects:</h1>
    <hr />
    <br />
    <div class="card-deck">
        @foreach (var project in Model)
        {
            <div class="card">
                @if (!project.IsCompleted)
                {
                    <div class="project-status-active">
                        Active
                    </div>
                }
                @if (project.IsCompleted)
                {
                    <div class="project-status-completed">
                        Completed
                    </div>
                }

                <img class="card-img-top" src="https://teampuntagorda.org/wp-content/uploads/2019/12/Volunteer-Hands.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5><h6><span class="badge badge-info">@project.Votes votes</span></h6>
                    <hr />
                    <p class="card-text"><b>What:</b> @project.Description</p>
                    <p class="card-text"><b>Where:</b> @project.City</p>
                    <p class="card-text"><b>When:</b> @project.StartDate</p>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@project.Id">Details</a>
                </div>
            </div>
        }
    </div>


