@model EditProjectViewModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="@Url.Content("~/js/editPageMap.js")"></script>
}

@{
    ViewData["Title"] = "Edit project";
}

<h4 style="text-align:center">Edit project</h4>
<hr />
<br />
<div class="col-sm-12  offset-lg-0 col-lg-8 col-xl-6 mr-auto ml-auto">
            <form asp-action="Edit" EncType="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <div id="mapid" style="width: 600px; height: 400px;"></div>
                        <input asp-for="Coordinates" id="projectCoordinates" class="form-control" />
                    </div>*@

                <div class="form-group">
                    <div id="mapid"></div>
                    <input type="hidden" asp-for="Coordinates" id="projectCoordinates" class="form-control" />
                    <span asp-validation-for="Coordinates" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control">
                        <option selected="selected" value="@Model.CurrentCategoryId">
                            @Model.CurrentCategory
                        </option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                <br />
                <p>Current image:</p>
                <input type="hidden" asp-for="OldImage" class="form-control" />
                <img src="@Model.OldImage" alt="project-image" class="rounded" style="max-width: 100%;">

                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" name="Image" class="form-control-file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save changes" class="btn btn-primary" />
                </div>
            </form>
        </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
