@model IEnumerable<Volunteers.Models.Projects.ProjectListingViewModel>

@{
    ViewData["Title"] = "All projects";
}

<br />

<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <div class="card-columns">
        @foreach (var project in Model)
        {
        <div class="card">
            @if (!project.IsCompleted)
            {
                <div class="project-status-active">
                    Active
                </div>
            }
            @if (project.IsCompleted)
            {
                <div class="project-status-completed">
                    Completed
                </div>
            }

            <img class="card-img-top" src="https://teampuntagorda.org/wp-content/uploads/2019/12/Volunteer-Hands.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <hr />
                <p class="card-text"><b>What:</b> @project.Description</p>
                <p class="card-text"><b>Where:</b> @project.City</p>
                <p class="card-text"><b>When:</b> @project.StartDate</p>
                <p class="card-text"><b>Votes:</b> @project.Votes</p>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@project.Id">Details</a>
            </div>
        </div>
        }
    </div>
</div>