@model IEnumerable<Volunteers.Services.Projects.Models.ProjectListingServiceModel>

@{
    ViewData["Title"] = "All projects";
}
<h4 style="text-align:center">All projects:</h4>
<hr />
<br />
<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <section class="dropdown" style="text-align:end">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order by: @ViewBag.ViewType
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Newest">Newest</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Oldest">Oldest</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Starting Soon">Starting Soon</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="Most participants">Most participants</a>
        </div>
    </section>
    <br />
    <article class="card-columns">
        @foreach (var project in Model)
        {
            <section class="card" onclick="document.getElementById('@project.Id').click()" style="cursor:pointer">
                @if (!project.IsCompleted)
                {
                    <div class="project-status-active">
                        Active
                    </div>
                }
                @if (project.IsCompleted)
                {
                    <div class="project-status-completed">
                        Completed
                    </div>
                }

                <img class="card-img-top" src="@project.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5><h6 style="text-align: center;"><span class="badge badge-info"><i class="fa-solid fa-people-group"></i> @project.Participants</span><span style="margin-left:5px" class="badge badge-info"><i class="fa-solid fa-comments"></i> @project.Comments</span></h6>
                    <hr />
                    <p>
                        <i class="fa-solid fa-bullseye"></i>
                        <span class="card-text">@project.Description.Substring(0, Math.Min(project.Description.Length, 200))...</span>
                    </p>
                    <p>
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="card-text">@project.City</span>
                    </p>
                    <p>
                        <i class="fa-solid fa-calendar"></i>
                        <span class="card-text">@project.StartDate</span>
                    </p>
                    
                    <div class="col text-center" style="margin-top: 1.25rem">
                        <a class="btn btn-primary" style="display:none" id="@project.Id" asp-action="Details" asp-route-id="@project.Id">Details</a>
                    </div>
                </div>
                </section>
        }
    </article>
</div>