@model IEnumerable<Volunteers.Models.Users.ProfileViewModel>

@{
    ViewData["Title"] = "Participants";
}

<h4 style="text-align:center">All registered participants:</h4>
<hr />
<br />

<div class="col-sm-12 offset-lg-1 col-lg-10 col-xl-10">
    <div class="card-columns">
        @foreach (var user in Model)
        {
            <div class="card text-center">
                <div class="card-header">
                    @user.Username
                </div>
                <div class="card-body">
                    <h5 class="card-title">Statistics:</h5>

                    <div class="participants-tiles">
                        <div class="participants-title" style="background-color: #A3D6D4;">@user.ProjectsSubmitted</div><span class="participants-statitics">projects submitted:</span>
                    </div>

                    <div class="participants-tiles">
                        <div class="participants-title" style="background-color: #F1E9CB;">@user.ProjectsInvolved</div><span class="participants-statitics">projects involved:</span>
                    </div>

                    <div class="participants-tiles">
                        <div class="participants-title" style="background-color: #C2D5A7;">@user.ProjectsCompleted</div><span class="participants-statitics">completed projects:</span>
                    </div>

                    <div class="participants-tiles">
                        <div class="participants-title" style="background-color: #B0ABCA;">@user.CommentsCount</div><span class="participants-statitics">comments:</span>
                    </div>

                    <br />
                    <a asp-controller="Users" asp-action="Profile" asp-route-Id="@user.Username" class="btn btn-primary">See @user.Username's profile</a>
                </div>
                <div class="card-footer text-muted" style="margin-top: 20px; font-size: 13px; ">
                    Registered on: @user.DateJoined   |   Last seen: @user.LastLogin
                </div>
            </div>
            <br />
        }
    </div>
</div>
